
<div class="content-wrapper">
  <form>      
    <h1>Registar Paciente</h1>
    
    <fieldset>
      <legend><span class="number">1</span>Informacion Basica</legend>
      <label for="name">Nombre:</label>
      <input type="text" id="name" name="user_name">
      
      <label for="mail">Apellido Paterno:</label>
      <input type="email" id="mail" name="user_paterno">

      <label for="mail">Apellido Materno:</label>
      <input type="email" id="mail" name="user_materno">

      <label for="password">Fecha de nacimiento:</label>
      <input type="date" id="password" name="user_dni">
      
      <label for="password">Dni:</label>
      <input type="password" id="password" name="user_dni">

      <legend><span class="number">2</span>Datos secundarios</legend>

      <label for="password">Direccion:</label>
      <input type="password" id="password" name="user_dni">

      <label for="password">Telefono:</label>
      <input type="password" id="password" name="user_dni">

      <label for="password">Correo:</label>
      <input type="password" id="password" name="user_dni">    

      
      
      <!--<label>Tipo de Violencia:</label>
      <input type="radio" id="under_13" value="under_13" name="user_age"><label for="under_13" class="light">Under 13</label><br>
      <input type="radio" id="over_13" value="over_13" name="user_age"><label for="over_13" class="light">13 or older</label><br>
      <input type="radio" id="over_13" value="over_13" name="user_age"><label for="over_13" class="light">13 or older</label>-->

    </fieldset>
    <button  routerLink="/dashboard/usuarios" type="submit">Registrar</button>
  </form>
</div>


